@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

@theme {
    --color-brand-primary: #2C36F2;
    --color-brand-bg: #F6F7FF;
    --color-brand-text: #707C87;
    --color-brand-dark: #1F1E25;
    --color-brand-white: #FFFFFF;
}

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        @apply m-0 min-w-0 bg-white text-brand-dark;
    }

    img {
        @apply max-w-full h-auto block;
    }

    a {
        @apply no-underline;
    }
}